<main class="favoritos">
    <h2 class="favoritos__heading">Restaurantes Favoritos</h2>

    <div class="favoritos__grid contenedor">
        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->

        <div class="favorito">
            <div class="favorito__grid">
                <div class="favorito__imagen">
                    <img src="assets/img/logo_ensaladas.png" alt="logo restaurant">
                </div>

                <div class="favorito__contenido">
                    <img src="assets/img/estrellas.png" alt="calificacion restaurant">

                    <h3 class="favorito__nombre">Green Ensaladas</h3>
                    <p class="favorito__descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos ullam mollitia et sit sequi est perspiciatis qui, ex, iure sed! Ducimus magnam eveniet fugit atque maxime architecto necessitatibus esse.</p>
                </div>
            </div>
        </div> <!--.favorito-->
    </div>
</main>
